@media only screen and (max-width: 640px) {
    #like-item {
        .like-item-content {
            margin-top: 0;
            width: 100% !important;
        }
    }
}

#like-item {
    animation: .2s forwards ease-in-out;
    transform: translateX(0px);

    @keyframes remove {
        from {
            transform: translateY(0px);
            opacity: 1;
        }

        to {
            transform: translateY(-100%);
            opacity: 0;
        }
    }

    @keyframes singleRemove {
        from {
            transform: translateX(0px);
        }

        to {
            transform: translateX(100%);
        }
    }
}