.product-evaluation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-evaluation-wrapper {
    scale: .5;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    transform: rotate(-360deg);
    
    &.active {
        scale: 1;
        opacity: 1;
        visibility: visible;
        transform: rotate(0deg);
    }
}