.shopping-cart-container {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    animation: motion 1s forwards ease;

    @keyframes motion {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .shopping-cart-wrapper {
        animation: open 1s forwards ease;

        @keyframes open {
            from {
                right: -100%;
            }
            
            to {
                right: 0;
            }

        }
    }
}